@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

/* Styles for the scrollbar track (background) */
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    /* Makes the track background transparent */
}

/* Styles for the scrollbar handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    /* or any color you prefer */
    border-radius: 10px;
}

/* Handle hover styles */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Styles for the scrollbar itself (width, etc.) */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    /* Sets the thumb color and transparent track */
}

footer {
    border-top: 1px solid rgba(128, 128, 128, 0.208);
}